<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <title>Product detail</title>
</head>
<body>
<div class="container">
    <h3 class="text-center">Detail</h3>
    <form>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="inputid">ID</label>
                <input type="text" class="form-control" id="inputid" th:value="${product.id}">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">Product Name</label>
                <input type="text" class="form-control" id="inputEmail4" th:value="${product.productName}">
            </div>
            <div class="form-group col-md-4">
                <label for="inputPassword4">Price</label>
                <input type="text" class="form-control" id="inputPassword4" th:value="${product.price}">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Description</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" th:value="${product.description}">
        </div>
        <div class="form-group">
            <label for="inputAddress2">DateOfMan</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" th:value="${product.datetime}">
        </div>
    </form>
</div>
</body>
</html>