<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <title>Sales</title>
</head>
<body>
<div class="container mt-3">
    <h3 class="text-center">Sales</h3>
    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Sale Name</th>
                <th scope="col">DOS</th>
                <th scope="col">Product Name</th>
                <th scope="col">Product Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${sales}">
                <th scope="row">
                    <a th:href="|/home/sales/${item.id}|">[[${item.id}]]</a>
                </th>
                <td>
                    <a th:href="|/home/sales/${item.id}|">[[${item.saleName}]]</a>
                </td>
                <td>[[${item.dos}]]</td>
                <td>
                    <a th:href="|/home/products/${item.product.id}|">[[${item.product.productName}]]</a>
                </td>
                <td>[[${item.product.price}]]</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <div class="text-center">
            <a href="/home/products" class="btn btn-success">
                List Products
            </a>
            <a href="/home/" class="btn btn-secondary">
                Back
            </a>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
</html>