<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>500</title>
  <link rel="stylesheet" href="../../css/bootstrap.css">
  <link rel="stylesheet" href="../../css/error.css">
</head>
<body>
<div class="bg-img d-flex flex-column justify-content-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center m-auto">
        <h1>500</h1>
        <h2>INTERNAL SERVER ERROR!</h2>
        <p>We're unable to find out what's happening!
        </p>
        <p>We suggest you to go back!</p>
        <p>Or visit here later....</p>
        <button onclick="location.href = 'http://localhost:8080/';" id="home" class="btn primary">HOME</button>
      </div>
    </div>
  </div>
</div>
</body>
<script src="../../js/error.js"></script>
</html>